<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content class="padding">
    <div>
      <!-- <div class="spacer" style="width: 250px; height: 100px;"></div> -->
      <div class="row">
        <div class="col col-40">
          <div class="spacer" style="width: 250px; height: 20px;"></div>
          <button class="button button-positive button-inline icon ion-ios-list-outline" style="float:right; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
          <span style="font-weight:500;float: right">My Details</span>
        </div>
        <div class="">
          <div class="spacer" style="width: 120px; height: 5px;"></div>
        </div>
        <div class="col col-40">
          <br>
          <button class="button button-positive button-inline icon ion-unlocked" style="vertical-align: bottom; float:left; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
          <span style="font-weight:500;float: left;vertical-align: bottom;">Annoucements / Holidays /<br>Birthdays /Notes</span>
        </div>
      </div>
      <!-- <div class="row" style="background-color: transparent;">
        <div class="col col-45">
        </div>
        <div class="col col-10">
          <span style="font-weight:500;float: right;">My Details</span><br>
          <button class="button button-positive button-inline icon ion-ios-list-outline" style="float:left;font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 100px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
        </div>
        <div class="col col-50">
        </div>
      </div> -->
      <div class="row" style="background-color: transparent;">
        <div class="col col-30">
          <div class="spacer" style="width: 250px; height: 25px;"></div>
          <span style="font-weight:500;float: right;">System Sync</span><br>
          <button class="button button-positive button-inline icon ion-android-sync" style="float:right; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
          <div class="row">
            <div class="col">
              <div class="spacer" style="width: 250px; height: 70px;"></div>
              <span style="font-weight:500;float: right;">On / Off-Board</span><br>
              <button class="button button-positive button-inline icon ion-ios-bell-outline" style="float:right; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
            </div>
          </div>
        </div>
        <div class="col col-30">
          <button class="button button-energized button-outline" style="align-items: center; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 30px; text-shadow: 2px 2px #6c7b8b; height: 400px; width: 400px;" type="submit">Digital Master<br> Resource Management <br>Portal</button>
          <div class="row">
            <div class="col col-20">
              <button class="button button-positive button-inline icon ion-arrow-graph-up-right" style="float:right; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
              <span style="font-weight:500;float: right">Reports</span>
            </div>
            <div class="">
              <div class="spacer" style="width: 120px; height: 5px;"></div>
            </div>
            <div class="col col-40">
              <button class="button button-positive button-inline icon ion-unlocked" style="float:right; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
              <span style="font-weight:500;float: right;">Portal Management</span>
            </div>
          </div>
        </div>
        <div class="col col-40">
        <div class="spacer" style="width: 250px; height: 25px;"></div>
          <span style="font-weight:500;float: left;">Account Administration</span><br>
          <button class="button button-positive button-inline icon ion-ios-briefcase" style="float:left; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit" ng-click="goAccAdmin()"></button>
          <div class="row" style="background-color: transparent;">
            <div class="col col-40">
              <div class="spacer" style="width: 250px; height: 75px;"></div>
              <span style="font-weight:500;float: left;">Annoucements / Holidays /<br>Birthdays /Notes</span><br>
              <button class="button button-positive button-inline icon ion-ios-bell-outline" style="float:left; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button>
            </div>
          </div>
          <!-- <div class="row" style="background-color: transparent;">
            <div class="col col-35">
            </div>
            <div class="col col-35">
            </div>
            <div class="col col-45">
              <div class="spacer" style="width: 250px; height: 75px;"></div>
              <span style="font-weight:500;">Portal Management</span>
              <button class="button button-positive button-inline icon ion-ios-bell-outline" style="float:left; font-weight:500;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;font-size: 10px; text-shadow: 2px 2px #6c7b8b; height: 75px; width: 75px;" type="submit"></button> 
            </div>
          </div> -->
        </div>
      </div>
      
    </div>
  </ion-content>
</ion-view>
