<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content class="padding">
    <div class="row" style="background-color: transparent;">
      <div class="col col-20">
      </div>
      <div class="col col-20">
      </div>
      <div class="col col-20">
      </div>
      <div class="col col-20">
      </div>
      <div class="col col-20">
        <button class="button button-energized button-inline" style="align-items: right; font-weight:400;border-radius:10px 10px 10px 10px;box-shadow:5px 5px 5px #888888;text-shadow: 2px 2px #6c7b8b;" type="submit" ng-controller="HomeCtrl" ng-click="loginNow()">Login</button>
      </div>
    </div>
    <hr>
    <div>
      <div class="spacer" style="width: 250px; height: 200px;"></div>
      <div class="row" style="background-color: transparent;">
        <div class="col col-30">
        </div>
        <div class="col col-40">
          <!-- <button class="button button-energized button-inline" style="align-items: center; font-weight:400;border-radius:200px 200px 200px 200px;box-shadow:5px 5px 5px #888888;text-shadow: 2px 2px #6c7b8b; height: 400px; width: 400px;" type="submit">Login</button> -->
          <h2 style="text-align: center;">Digital Master Resource Management Portal</h2>
        </div>
        <div class="col col-30">
        </div>
      </div>
      <div class="spacer" style="width: 250px; height: auto;"></div>
    </div>
  </ion-content>
</ion-view>
