<ion-modal-view>
  <ion-header-bar style="background-color: #2c2c2d;">     
    <div class="col col-45">
      <button class="button icon ion-android-document" style="background-color: transparent; float: left;text-align: center;border-radius:50px 50px 50px 50px;font-weight:500;" ng-click="name='signUp'" title="Sign Up"></button>
    </div>
    <div class="col col-10">
      <!-- <h1 class="title">Login</h1> -->
      <button class="button icon ion-log-in" style="background-color: transparent;float: right;text-align: center;font-weight:500;" ng-click="name='logIn'" title="Log In"></button>
    </div>
    <div class="col col-45">
      <button class="button icon ion-android-close" style="background-color: transparent; float: right;" ng-click="closeLogin();name='logIn'"></button>
    </div>       
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()"  ng-if="name=='logIn'">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="goDashboard()">Log in</button>
        </label>
      </div>
    </form>
    <form ng-if="name =='signUp'">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="goDashboard()">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
